.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.text {
  color: antiquewhite;
  margin-right: 15px;
  margin-left: auto;
  font-size: 18px;
}

.logOutBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(160, 81, 45, 0.642);
  color: antiquewhite;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logOutBtn:hover {
  background-color: rgba(160, 81, 45, 0.21);
}

.logOutBtn:focus {
  outline: none;
}
.authNavCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
}
